.wrapper {
  background: url(../../../images/background.JPG);
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(50, 57, 68, 0.8);
}
