<div class="navbar-wagon">

  <!-- Right Navigation -->
  <!-- <div class="navbar-wagon-right hidden-xs hidden-sm"> -->
<div class="text-center">
    <!-- Text link -->
    <a href="#about" class="navbar-wagon-item navbar-wagon-link">about</a>
    <!-- Text link -->
    <a href="#resume" class="navbar-wagon-item navbar-wagon-link">resume</a>
    <!-- Text link -->
    <a href="#skills" class="navbar-wagon-item navbar-wagon-link">skills</a>
    <a href="#form" class="navbar-wagon-item navbar-wagon-link">contact</a>
  </div>
</div>
