<div class="navbar-wagon">

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">About</a>
    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Resume</a>
    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Skills</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
  </div>
</div>
