---
title: Carolien Jonker - web developer
---

<div class="banner">
  <div class="banner-content">
    <h1>Carolien Jonker</h1>
    <p>software developer</p>
  </div>
</div>

<div class="wrapper">
  <section id="about" class="section-solid">
    <div class="text-center transparant1">
      <div class="row">
        <div class="col-xs-12">
          <h1><strong>about</strong></h1>
          <div class="section-title-border"></div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1  col-md-8 col-md-offset-2">
              <p>I am a Ruby on Rails web developer. After I graduated in Arts and Cultural Studies I decided to learn a new skill: coding. During a 12-weeks bootcamp of <a link href="http://www.lewagon.org/">Le Wagon</a> I mastered myself in front-end and back-end development. After the bootcamp I followed a 6-months traineeship at <a link href="http://www.deloittedigital.com/eu">Deloitte Digital</a>. During the traineeship I contributed to the creation of a mobile app. I worked on designing the app, making sketches, creating a concept book and defining the user stories and functionalities. Also I wrote automatic UITests in C#.</p>
              <p>Recently I've moved to Sint Maarten in the Carribean. I am very excited to start a new adventure on the island!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-solid" id="skills">
    <div class="container">
      <div class="padded features transparant">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <h1><strong>skills</strong></h1>
              <div class="section-title-border"></div>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="blocks text-center">
                <h4><strong>front-end</strong></h4>
                  <ul style= "list-style-type: none; padding: 20px 0px 0px 0px">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Javascript</li>
                    <li>jQuery</li>
                    <li>Bootstrap</li>
                  </ul>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4">
              <div class="blocks text-center">
                <h4><strong>back-end</strong></h4>
                  <ul style= "list-style-type: none; padding: 20px 0px 0px 0px">
                    <li>Ruby on Rails</li>
                    <li>C# (the basics)</li>
                    <li>SQL</li>
                    <li>PostgreSQL</li>
                    <li>APIs</li>
                  </ul>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4">
              <div class="blocks text-center">
                <h4><strong>testing and tools</strong></h4>
                  <ul style= "list-style-type: none; padding: 20px 0px 0px 0px">
                    <li>UITesting in Xamarin Studio</li>
                    <li>Git</li>
                    <li>GitHub</li>
                    <li>Sublime Text</li>
                    <li>Heroku</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

<section id="portfolio" class="section section-solid">
    <div class="container">
      <div class="text-center padded features transparant">
        <div class="row">
          <div class="col-xs-12">
            <h1><strong>portfolio</strong></h1>
            <div class="section-title-border"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <a href="http://www.greenthumbs.nl/" target="_blank">
            <div class="card" style="background: url('images/greenthumbs1.png')">
              <div class="card-hover">
                <h2>Green thumbs</h2>
                <p>Would you like to grow your vegetables? But you don't have space? Find an urban garden in your neighbourhood! Green thumbs is a platform that connects you to garden owners, so you can start growing your veggies next door. </p>
              </div>
            </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-5">
           <a href="http://www.dmjmz.nl/" target="_blank">
            <div class="card" style="background: url('images/danmaakjemaarzin.png')">
              <div class="card-hover">
                <h2>Dan maak je maar zin</h2>
                <p>This website I made for two young artists: Willemijn and Thijs van den Geest. They made an interdisciplinary performance with text and music about the disillusion of success and the loss of certainties.</p>
              </div>
            </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <div class="card" style="background: url('images/comingsoon3.jpg')">
            <div class="card-hover">
                <h2>Blog</h2>
                <p>In my free time I love to make photo's and to write. I'm planning to start a blog about my new life in the Carribean. Stay tuned! </p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5">
            <a href="mailto:carolien.jonker@gmail.com">
              <div class="card" style="background: url('images/vijver.jpg')">
                <div class="card-hover">
                  <h2>Your project?</h2>
                  <p>Interested in working with me? Send me an e-mail!</p>
                </div>
              </div>
            </a>
          </div>
        </div>


      </div>
    </div>
  </section>
        <!-- <div class="col-xs-10 col-lg-4">
        <h4>Languages</h4>
        <div>
          <ul class="carol-ul">
            <li><i class="fa fa-check"></i>Dutch</li>
            <li><i class="fa fa-check"></i>English</li>
            <li><i class="fa fa-check"></i>German</li>
            <li><i class="fa fa-check"></i>Spanish</li>
            <li><i class="fa fa-check"></i>French</li>
          </ul>
        </div>
      </div> -->

      <!--         <div class="col-xs-10 col-lg-4">
      <h4>Hobbies</h4>
      <div class="text-center">
        <ul class="carol-ul">
          <li><i class="fa fa-plane" style="font-size: 20px; padding: 10px;"></i>Travelling</li>
          <li><i class="fa fa-book" style="font-size: 20px; padding: 10px;"></i>Reading</li>
          <li><i class="fa fa-camera" style="font-size: 20px; padding: 10px;"></i>Photography</li>
        </ul>
      </div>
    </div> -->
    <!-- </div> -->

    <!-- <div class="row">
    <div class="col-xs-10 col-lg-4">
      <h4>Computer</h4>
      <div class="col-xs-4">
        <div class="text-center">
          <i class="fa fa-diamond" style="font-size: 30px; padding: 10px;"></i>
          <h5>Ruby & Ruby on Rails</h5>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="text-center">
          <i class="fa fa-html5 prog-logo" style="font-size: 30px; padding: 10px;"></i>
          <h5>HTML & CSS</h5>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="text-center">
          <img src="images/js.png" alt="Javascript" width="50px" style="padding: 10px;">
          <h5>Javascript</h5>
        </div>
      </div>
    </div> -->



    <!-- <section id="resume" class="section section-solid">
    <div class="container">
      <div class="text-center padded features transparant">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h1><strong>Resume</strong></h1>
            <div class="section-title-border"></div>
          </div>
        </div> -->
  <section id="form" class="form section section-solid">
    <div class="container">
      <div class="text-center padded features transparant">
        <div class="row">
          <div class="col-xs-12">
            <h1><strong>contact</strong></h1>
            <div class="section-title-border"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-10 col-xs-offset-1  col-md-8 col-md-offset-2">
            <p>I would love to hear your story! Please fill in the form and I'll get in touch with you as soon as possible.</p>
          </div>
          <form class="form-horizontal" action="//formspree.io/carolien.jonker@gmail.com"  method="POST">
            <div class="col-xs-11 col-xs-offset-1">
              <div class="form-group" style="padding-right: 15px">
                <div class="col-xs-5">
                  <input type="name" name="name" class="form-control" id="inputName3" placeholder="Name">
                </div>
                <div class="form-group">
                  <div class="col-xs-5">
                    <input type="email" name="_replyto" class="form-control" id="inputEmail3" placeholder="E-mail">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-10">
                  <textarea class="form-control" rows="3" style="resize: none" input type="message" name="message" class="form-control" id="inputMessage3" placeholder="Message"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="footer" class="footer">
    <div class="container">
      <div class="row" style="text-align: center">
        <div class="col-xs-4">
           <a href="https://www.github.com/carolienjonker29" target="_blank" class="footer-icons btn-treehouse">
            <i class="fa fa-github"></i>
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://www.linkedin.com/in/carolien-jonker-84540265" target="_blank" class="footer-icons btn-treehouse">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#contact" class="footer-icons btn-treehouse">
            <i class="fa fa-envelope-o"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>



